@media (resolution: 120dpi) {
    section.about-section .content h2 {
        font-size: 3.3rem;
    }
    .about .content ul.ul--list li h5 {
        font-size: 1.7rem;
    }
    
    .about .content ul.ul--list li p {
        font-size: 1rem;
    }
    #hero h1 {
    font-size: 3rem;
    line-height: 66px;
}

#hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btm-line img.imgfluid {
    max-width: 350px;
}

section.about-section .content a.btn-get-started {
    padding: 10px 30px;
    font-size: 1rem;
}


section.about-section .content .btn-watch-video {
    padding: 10px 25px;
    font-size: 1rem;
}

section.about-us-section .section-title h3,.section-title h3 {
    font-size: 3.5rem;
}

section.about-us-section .right-part h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

section.about-us-section .right-part p.fstitalic {
    font-size: 1rem;
    line-height: 27px;
    margin-bottom: 20px;
}

section.about-us-section .right-part a.btn-get-started {
    padding: 10px 30px;
    font-size: 1rem;
}

section.story-section.sectionbg {
    padding-top: 60px;
    background-size: 85%;
    background-position: top 30% right;
}

section.about-us-section.new-product-tabs {
    padding-top: 60px;
}

section.about-us-section .section-title p {
    font-size: 1.5rem;
}

.new-product-tabs .tab-menu ul li a {
    font-size: .9rem;
    padding: 10px 20px;
}

section.about-us-section.about-us-topspace .right-part {
    padding-left: 95px;
}

section.story-section .left-part .btminfo h3 {
    font-size: 1.3rem;
    line-height: 34px;
}

section.about-us-section .right-part a.glightbox.btn-watch-video:hover {
    color: #43b320;
    font-size: 1rem;
}

section.about-us-section .right-part a.glightbox.btn-watch-video {
    padding: 10px 25px;
}

a.btn-get-started.scrollto {}

.business-section-wrapper .business-unit-section {
    padding-top: 40px;
}

section.business-unit-section .business-units .info h3 {
    font-size: 1.4rem;
}

section.business-unit-section .business-units .info p {
    font-size: 1rem;
}

section.our-missiin-section .missiin-content .info h2 {
    font-size: 1.7rem;
}

section.our-missiin-section .missiin-content .info p {
    font-size: .9rem;
    line-height: 28px;
}

section.our-missiin-section .missiin-content .box {
    padding: 50px 0;
}

section.revolution-section a.btn-get-started {
    font-size: 1rem;
    padding: 10px 30px;
}

.business-section-wrapper {
    background-size: 100%;
    background-position: center center;
}

section.blog-section .box .info h2 {
    font-size: 1rem;
}

section.blog-section .box .info p {
    font-size: 1rem;
    line-height: 23px;
}

section.blog-section .box .info span.rmr a {
    font-size: 1rem;
}

section.blog-section .box .info .date p {
    font-size: 1rem;
}

section.blog-section a.btn-get-started {
    padding: 10px 30px;
    font-size: 1rem;
}

body #footer .footer-newsletter h4 {
    font-size: 1.7rem;
}

#footer .footer-newsletter .subscribe-form form input[type="email"] {
    min-width: auto;
}

#footer .footer-newsletter .subscribe-form form input[type="submit"] {
    font-size: 1rem;
    padding: 8px 25px;
}

#footer .footer-top .footer-links ul li a {
    font-size: .9rem;
}

#footer .footer-top .footer-links h4 {
    font-size: 1rem;
}

#footer .footer-top .footer-links.social-link h4 {
    font-size: .9rem;
}

body #footer .footer-top .footer-links .social-links a {
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
}

#footer .footer-bottom .footer-btmright h4 {
    font-size: 1rem;
}

#footer .footer-bottom .footer-btmright .addr p {
    font-size: .8rem;
}

#footer .footer-bottom .footer-btmleft p {
    font-size: .8rem;
    line-height: 27px;
}

#footer .footer-top:after {
    bottom: -190px;
    background-size: 100%;
    z-index: 99;
}

.footer-bottom--2 .quick-links a {
    font-size: .9rem;
}

#footer .footer-bottom--2 .copyright {
    font-size: .9rem;
}

.footer-bottom--2 {
    padding: 20px 0;
}

#footer .footer-newsletter .newsletter-wrap {
    padding: 30px;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .box h2 {
    font-size: .7rem;
    margin-bottom: 10px;
}

.navbar li.dropdown .mega-wrap .tab-pane .box-nowrap01 .boxout .box {
    padding: 15px;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxright p {
    font-size: .7rem;
    line-height: 24px;
}

.navbar li.dropdown .mega-wrap .tab-pane p {
    font-size: 11px;
    margin: 0;
}

.navbar li.dropdown .box-wrap .box h2 a {
    font-size: 14px;
}

.navbar li.dropdown .mega-wrap ul.nav-pills .nav-item button {
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.navbar .nav-item span.left i.bi {
    font-size: 16px;
}

#header .btn-getstarted, #header .btn-getstarted:focus,#header.fixed-top a.btn-getstarted {
    padding: 5px 10px;
    font-size: .9rem;
}

.navbar a, .navbar a:focus {
    font-size: .9rem;
}

#header .logo img {max-width: 80%;}

#topbar .contact-info i {
    font-size: 1rem;
}

#topbar .contact-info i a, #topbar .contact-info i span {
    font-size: 13px;
}

#topbar .social-links a {
    font-size: 1.2rem;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxright .logo {
    max-width: 260px;
    width: 260px;
}

    body section.revolution-section .section-title h3 {
    line-height: 90px;
}
    
}

@media screen and (min-width: 1451px) {
    section.product-btm--01 .left-side {
        width: 15%;
    }
    section.product-btm--01 .right-side {
        width: 85%;
    }
}

@media screen and (max-width:1450px){
    section.product-btm--01 .left-side {
        width: 22%;
    }
    
    section.product-btm--01 .container-fluid .row {
        justify-content: space-between;
    }
}

@media screen and (min-width:1024px){
    nav#navbar {
        position: unset;
    }
}

@media screen and (min-width:1500px){  
    .container-fluid {
        padding: 0 60px;
    }
    #header {
        padding: 15px 0;
        top: 43px;
    }
    .navbar a, .navbar a:focus {
    font-size: 16px;
}

#topbar {
    font-size: 15px;
}

#topbar .social-links a {
    font-size: 15px;
}

#header a.btnsearch i.bi.bi-search {
    font-size: 20px;
}
}
@media screen and (max-width:1500px) and (min-width:1100px){  


    .container-fluid {
        padding: 0 30px;
    }

    #hero h1 {
        font-size: 3.9rem;
        line-height: 60px;
    }
    
    #hero h2 {
        font-size: 1.65rem;
        margin-bottom: 40px;
    }
    
    .btm-line img.imgfluid {
        max-width: 370px;
    }
    
    section.about-section .content h2 {
        font-size: 3.5rem;
    }
    
    .about .content ul.ul--list li h5 {
        font-size: 1.5rem;
    }
    
    .about .content ul.ul--list li p {
        font-size: 1.1rem;
    }
    
    .about .content ul.ul--list li {
        margin: 10px 0;
    }
    
    .about .content ul.ul--list {
        margin-top: 40px;
    }
    
    section.about-us-section .section-title h3 {
        font-size: 3.5rem;
    }
    
    section.about-us-section .section-title p {
        font-size: 1.5rem;
    }
    
    section.business-unit-section .business-units .info h3 {
        font-size: 1.5rem;
    }
    
    section.business-unit-section .business-units .info p {
        font-size: 1rem;
    }
    
    section.our-missiin-section .missiin-content .info h2 {
        font-size: 1.7rem;
    }
    
    section.our-missiin-section .missiin-content .info p {
        font-size: .9rem;
        line-height: 23px;
        margin: 0;
    }
    
    section.our-missiin-section .missiin-content .box {
        padding: 50px;
    }
    
    section.blog-section .box .info h2 {
        font-size: 1.1rem;
    }
    
    section.blog-section .box .info p {
        font-size: 1rem;
        line-height: 23px;
    }
    
    section.blog-section .box .info .date p {
        font-size: 1rem;
    }
    
    section.blog-section a.btn-get-started {
        font-size: 1rem;
    }
    
    body #footer .footer-newsletter h4 {
        font-size: 1.8rem;
    }
    
    #footer .footer-newsletter .subscribe-form form input[type="email"] {
        min-width: 490px;
    }
    
    #footer .footer-bottom .footer-btmright .addr p {
        font-size: .9rem;
    }
    
    #footer .footer-top .footer-links ul li a {
        font-size: .9rem;
    }
    
    #footer .footer-top .footer-links h4 {
        font-size: 1rem;
    }
    
    #footer .footer-bottom--2 .copyright {
        font-size: .9rem;
    }
    section.about-us-section.about-us-topspace .right-part {
        padding-left: 50px;
    }
    
    section.about-us-section .right-part p.fstitalic {
        font-size: 1rem;
        line-height: 34px;
        margin-bottom: 25px;
    }

    section.about-us-section .right-part h3 {
        font-size: 2rem;
    }

    section.about-section .about-item a.hg {
        height: 340px;
    }

    section.about-section .content h3 {
        font-size: 1.4rem;
    }
    section.about-section .about-item .info p {
        font-size: 15px;
    }
    section.about-section .about-item .info a {
        font-size: 15px;
    }

    .navbar li.dropdown .mega-wrap .tab-pane .box-nowrap01 .boxleft .box.cat-title {
        margin-right: 20px;
        width: 40%;
    }
    .navbar li.dropdown .mega-wrap .tab-pane .box-nowrap01 .boxleft .box.cat-title h2 {
        font-size: 26px;
    }
    .navbar li.dropdown .mega-wrap .tab-pane .boxout .box ul li {
        margin: 10px 0;
    }
    #header .navbar li.dropdown .mega-wrap .tab-pane .boxout .box ul li a {
        font-size: 14px;
        line-height: normal;
    }
    .navbar li.dropdown .mega-wrap .tab-pane .boxout {
        grid-template-columns: 80% 20%;
    }
  }



  
@media screen and (max-width:768px) { 
    section {
   padding: 15px 0;
}

   .navbar li.dropdown i.bi.bi-chevron-down {
   display: block;
}
   section#topbar {
   display: none !important;
}
header#header {
   top: 10px;
}
   

.navbar li.dropdown .mega-wrap {
   position: relative;
}

.navbar li.dropdown .mega-wrap.dropdown-active {
   display: block;
   width: 90%;
   margin: auto;
   padding: 0;
   visibility: visible;
   opacity: 1;
}

#header.fixed-top .mega-wrap.mega-wrap {
   height: 100%;
   background: transparent;
}
.navbar li.dropdown .mega-wrap {
   display: none;
}

.navbar li.dropdown .mega-wrap ul.nav-pills {
   margin: 0;
   width: 100%;
   padding: 0;
   box-shadow: none;
}

.navbar li.dropdown  .containers-out {}

.navbar li.dropdown  .containers-out .containers {
   flex-direction: column;
   padding: 0 !important;
   box-shadow: none;
}

.navbar .dropdown .mega-wrap li {
   min-width: 100%;
}

.navbar li.dropdown .mega-wrap ul.nav-pills .nav-item button {
   font-size: .8rem;
}

.navbar .nav-item span.left i.bi {
   font-size: 13px;
}

.navbar .nav-item i.bi-chevron-right {
   font-size: 12px;
}

.navbar li.dropdown .box-wrap {
   grid-template-columns: 49% 49%;
   padding: 0 10px;
   align-items: start;
}

.navbar li.dropdown .box-wrap .box h2 a img.black {
   max-width: 17px;
}

.navbar li.dropdown .box-wrap .box {
   padding: 10px;
   width: 100%;
   margin-bottom: 5px;
   height: 96%;
}

.navbar li.dropdown .mega-wrap .tab-pane p {
   font-size: 12px;
   margin: 0;
}
#header.fixed-top .mega-wrap.mega-wrap .containers-out {
   max-width: 95%;
}
#header.fixed-top .navbar li.dropdown .box-wrap .box a {
   font-size: 12px;
}
#header .logo img {
   max-width: 200px;
}

#header .btn-getstarted {
   padding: 5px 10px;
   font-size: 13px;
   margin: 0 0px 0 13px;
   border-radius: 5px;   
}

#hero .bannerinfo h2 br {
    display: none;
}

#hero .bannerinfo h2 {font-family: 'helvetica';font-size: 17px;margin-top: 0;}

#hero .bannerinfo h1 {
    margin-bottom: 9px;
    font-size: 24px;
    font-family: 'helvetica';
}

#hero .bannerinfo {
    filter: drop-shadow(1px 1px 1px black);
}

header#header {
   top: 0;
   height: auto;
   padding: 13px 0;
}

header#header .container-fluid {
   padding: 0 10px;
}

#header .mobile-nav-toggle {
   color: #000;
   font-size: 36px;
   padding: 0;
   line-height: 0;
}
#header a.btnsearch i.bi.bi-search {
    font-size: 20px;
}

#header .navleft {
    flex-direction: row-reverse;
}
#header.fixed-top .mobile-nav-toggle {
   color: #000;
    font-size: 32px;
    margin-right: 10px;
}
.navbar li.dropdown .mega-wrap .tab-pane .boxout {
   grid-template-columns: 100%;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .box h2 {
   font-size: 13px;
   margin-bottom: 0;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .box ul {
   height: auto;
   box-shadow: none;
   position: relative;
   top: 0;
   overflow: visible;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .box {
   width: 100%;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxleft {
   flex-direction: column;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .box ul li {
   margin-top: 5px;
   margin-bottom: 5px;
}
.navbar li.dropdown .mega-wrap .tab-content {
   border-top: 1px dashed #bbbbbb;
   padding-top: 10px;
   margin-top: 10px;
}
.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxright img.logo {
   max-width: 200px;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxright p {
   font-size: 12px;
   line-height: 19px;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxright {
   padding-bottom: 10px;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxleft .box {
   height: auto;
}


.navbar li.dropdown.mega-menu .mega-wrap {
   display: none;
}

.navbar li.dropdown.mega-menu.active .mega-wrap {
   display: block;
}
.navbar  li.dropdown.mega-menu.active .mega-wrap.dropdown-active {
   display: block;
}
.navbar li.dropdown.mega-menu.active .mega-wrap.dropdown-active {
    display: block;
}
li.dropdown.mega-menu.product-li {}

li.dropdown.mega-menu.product-li .mega-wrap .tab-pane .boxout {}

li.dropdown.mega-menu.product-li .mega-wrap .tab-pane .boxout .boxleft {
   flex-direction: row;
   padding: 10px 0;
   margin: 0;
   border: 0;
}

li.dropdown.mega-menu.product-li .mega-wrap .tab-pane .boxout .boxleft .box {
   width: 49%;
   padding: 10px;
   height: auto;
}

li.dropdown.mega-menu.product-li .mega-wrap .tab-pane .boxout .boxleft {
   flex-direction: row;
   padding: 10px 0;
   margin: 0;
   border: 0;
   align-items: stretch;
}

li.dropdown.mega-menu.product-li .mega-wrap .tab-pane .boxout .boxleft .box {
   width: 49%;
   padding: 10px;
   height: auto;
}

#header.fixed-top i.bi.mobile-nav-toggle.bi-x {
   color: #fff;
   margin:0;
}

#header.fixed-top .navbar-mobile.navbar >ul > li > a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

section#hero {
   height: auto;
   position: relative;
   min-height: 60vh;
   padding: 0;
}

section#hero .video-bg {
   height: 100%;
}

#hero .container-fluid {
   top: auto;
   position: absolute;
   bottom: 20px;
}
#hero .btm-line {
   padding-top: 5px;
}

#hero h2 {
   margin-bottom: 10px;
}
.containers-out .btm-info {
   font-size: 12px; 
   padding: 10px 15px;
   text-align: left;
}


#footer .footer-newsletter .subscribe-form form input[type="email"] {
   min-width: auto;
}

#header.fixed-top .logo img {
   max-width: 200px;
}

#topbar .container-fluid {flex-direction: column;}

.btm-line img.imgfluid {
   width: 100%;
   max-width: 200px;
}

section.about-section .content h2 {
   font-size: 2rem;
}

section.about-section .content h2 br {
   display: none;
}

section.about-section .content a.btn-get-started {
   padding: 5px 15px;
   font-size: 1rem;
   border-radius: 5px;
}

section.about-section .content .btn-watch-video {
   padding: 5px 10px;
   font-size: 1rem;
   border-radius: 5px;
}

.about .content ul.ul--list li h5 {
   font-size: 1.3rem;
}

.about .content ul.ul--list li {
   display: inline-block;
   width: 100%;
   margin: 10px 0;
}

.about .content ul.ul--list li p {
   font-size: .8rem;
}

.about .content ul.ul--list {
   margin-top: 10px;
}

section.about-section .content h3 {
   font-size: 1rem;
}

section.about-section .content h3 br {
   display: none;
}  

section.about-us-section .section-title h3 {
   font-size: 2rem;
   margin-bottom: 0;
   text-align: left;
}

section.about-us-section .right-part h3 {
   font-size: 1.2rem;
   margin-bottom: 10px;
}

section.about-us-section.about-us-topspace .right-part {
   padding-left: 15px;
}

section.about-us-section .right-part p.fstitalic {
   font-size: .9rem;
   line-height: 26px;
   margin-bottom: 15px;
}

section.story-section.sectionbg {
   padding: 0 0;
}

section.about-us-section .section-title {
   padding-bottom: 10px;
}

section.about-us-section .right-part a.btn-get-started {
   padding: 5px 15px;
   font-size: 1rem;
}

section.story-section.sectionbg .right-part {
   padding-top: 0 !important;
}

section.story-section.sectionbg .right-part h3 {
   line-height: normal;
   font-size: 1rem;
   margin-bottom: 0;
}

section.story-section.sectionbg .right-part h3 br {}

section.story-section.sectionbg .right-part .btmpart {
   padding: 10px 0;
   font-size: .9rem;
}

section.story-section .left-part .btminfo h3 {
   font-size: .9rem;
   line-height: normal;
}

section.story-section .left-part .btminfo {
   box-sizing: border-box;
   /* padding: 0 10px; */
   width: 100%;
   left: 0;
   box-sizing: border-box;
   right: 0;
}

section.story-section .left-part {
   /* position: relative; */
}
section.story-section .left-part .btminfo a img {
   max-width: 32px;
}

section.story-section .left-part .btminfo a img {
   max-width: 32px;
}

section.about-us-section .section-title p {
   font-size: 1rem;
   text-align: left;
}

.new-product-tabs .tab-container .tab-menu {
   margin-bottom: 20px;
   width: 100%;
}

.new-product-tabs .tab-menu ul {
   display: flex;
   overflow: auto;
   min-width: auto;
   max-width: none;
}

.new-product-tabs .tab-menu ul li a {
   font-size: 12px;
   padding: 5px 10px;
   display: flex;
   margin: 0;
   white-space: nowrap;
}

.new-product-tabs .tab .testimonial-item h3 {
   font-size: 1.1rem;
   left: auto;
   bottom: 34px;
   filter: drop-shadow(2px 1px 1px black);
   text-align: center;
   width: 100%;
}

.new-product-tabs .tab-container .right-part {
   padding-left: 10px;
}

section.about-us-section .right-part a.glightbox.btn-watch-video {
   padding: 5px 7px;
   font-size: .9rem;
}

section.about-us-section .right-part a.btn-get-started {
   font-size: .9rem;
   padding: 5px 12px;
}

.business-section-wrapper {
   background-size: cover;
   background-position: top center;
}

section.our-missiin-section .missiin-content .box {
   padding: 20px 10px;
   margin-bottom: 10px;
}

section.our-missiin-section .missiin-content .box img.missiin-img {
   max-width: 50px;
}

section.our-missiin-section .missiin-content .info h2 {
   margin-top: 10px;
   font-size: 1.1rem;
}

section.our-missiin-section .missiin-content > .row {flex-wrap: wrap;justify-content: center;}

section.our-missiin-section .missiin-content > .row > .col-lg-4.col-md-4 {
   width: 50%;
}

section.our-missiin-section .missiin-content .info p br {
   display: none;
}

section.our-missiin-section .missiin-content .info p {
   font-size: .9rem;
   line-height: normal;
}

section.revolution-section {
   padding-top: 10px;
}

section.revolution-section.about-us-section .section-title h3 {
   line-height: normal;
   margin-top: 0;
   margin-bottom: 20px;
}

section.revolution-section span.btm-line img.missiin-img {
   bottom: -3px;
}

section.revolution-section.about-us-section .section-title h3 span {
   display: inline-block;
   padding: 0;
}

section.revolution-section a.btn-get-started {
   padding: 6px 25px;
   font-size: .9rem;
   margin-top: 5px;
}

section.blog-section {
   padding-top: 0;
}

section.blog-section .box .info h2 {
   font-size: 1rem;
   line-height: 22px;
   margin-bottom: 5px;
}

section.blog-section .box .info {
   padding: 13px 10px 10px 10px;
   height: auto;
}

section.blog-section .box .info p {
   font-size: .9rem;
   line-height: normal;
}

section.blog-section .box .info span.rmr a {
   font-size: .9rem;
}

section.blog-section .box .info .date {
   margin-top: 10px;
}

section.blog-section .box .info .date p {
   font-size: 1rem;
}

section.blog-section .box {
   margin-bottom: 15px;
}

section.blog-section a.btn-get-started {
   font-size: .9rem;
   padding: 6px 20px;
}

section.blog-section .vrm-btm {
   margin-top: 5px;
}

#footer .footer-newsletter {
   padding-top: 20px;
}

#footer .footer-newsletter .newsletter-wrap {
   padding: 10px 15px;
}

body #footer .footer-newsletter h4 {
   font-size: 1.2rem;
   line-height: 20px;
   margin-bottom: 12px;
}

#footer .footer-newsletter .subscribe-form form input[type="submit"] {
   font-size: .9rem;
   padding: 6px 10px;
   border-radius: 5px;
   margin: 0;
}

#footer .footer-newsletter .subscribe-form .image img {
   max-width: 25px;
}

#footer .footer-newsletter .subscribe-form {
   padding: 3px 5px;
}

#footer .footer-newsletter .subscribe-form form {
   padding-left: 0;
   width: 100%;
   padding:13px 7px 13px 7px;
}

#footer .footer-newsletter .subscribe-form form input[type="email"] {
   padding: 0 5px;
   font-size: 14px;
}

#footer .footer-top {
   padding-top: 20px;
   margin-top: 0;
}

#footer .footer-top .footer-links h4 {
   font-size: 1.1rem;
   margin-bottom: 0;
}

#footer .footer-top .footer-links ul li {
   margin: 0;
}

#footer .footer-top .footer-links ul li a {
   font-size: 13px;
}

#footer .footer-top .topin .footer-links {
   margin-bottom: 15px;
   width:50%;
}

#footer .footer-bottom {
   padding-top: 110px;
   padding-bottom: 10px;
}

#footer .footer-bottom a.logo img.white {
   max-width: 200px;
}

#footer .footer-top:after {
   bottom: -80px;
}

#footer .footer-bottom .footer-btmleft p {
   font-size: .9rem;
   line-height: normal;
}

#footer .footer-bottom .footer-btmright h4 {
   font-size: 1.1rem;
   margin-bottom: 13px;
}

#footer .footer-bottom .footer-btmright .addr {
   margin-bottom: 13px;
}

#footer .footer-bottom .footer-btmleft p br {
   display: none;
}

#footer .footer-bottom .footer-btmright .addr p {
   font-size: .9rem;
}

#footer .footer-bottom .footer-btmright .addr i.bi {
   font-size: 15px;
   margin-right: 5px;
}

.footer-bottom--2 .container-fluid {
   flex-direction: column;
}

.footer-bottom--2 {
   padding: 10px 0;
}

.footer-bottom--2 .quick-links a {
   font-size: .9rem;
   margin: 12px 10px;
   display: inline-block;
}

.footer-bottom--2 .quick-links {
   text-align: center;
}

#footer .footer-top .footer-links.social-link h4{
   padding-bottom:5px;
}

#footer .footer-top .footer-links{
    margin-bottom: 15px;
    width: 50%;
}

#footer .footer-bottom--2 .copyright {
   font-size: .8rem;
}

body #footer .footer-top .footer-links .social-links a {
   margin-right: 10px;
   vertical-align: bottom;
   height: 32px;
   width: 32px;
   padding: 6px 0;
   font-size: 19px;
}

#hero .btm-line {
   padding-top: 5px;
}

#hero h2 {
   margin-bottom: 10px;
}

section.business-unit-section .business-units .info h3 {
   font-size: 1.1rem;
   margin: 0;
}

section.business-unit-section .business-units .info p {
   font-size: 14px;
}

.business-units .swiper-button-prev span, .business-units .swiper-button-next span {
   font-size: 12px;
}

.business-units .swiper-button-prev::after, .business-units .swiper-button-next::after {
   font-size: 19px;
}

.business-units .swiper-button-prev, .business-units .swiper-button-next {
   height: 32px;
   width: 32px;
}

section.about-section .about-item a.hg {
    height: auto;
}

#footer .footer-top .footer-links.social-link .newsletter-wrp {
    flex-direction: column;
    width: 100%;
}

#footer .footer-top .footer-links.social-link {
    width: 100%;
    margin-bottom:0;
}

.navbar li.dropdown .mega-wrap .tab-pane .box-nowrap01 .boxleft .box.cat-title h2 {
    font-size: 15px;
        font-family: 'Helvetica';
        margin-bottom: 10px;
        font-weight: bold;
}

.navbar li.dropdown .mega-wrap .tab-pane .box-nowrap01 .boxleft .box.cat-title h2 br {
    display: none;
}

body .navbar li.dropdown .mega-wrap .tab-pane .box-nowrap01 .boxleft .box.cat-title {
    border: 0;
    margin:0;
    max-width: 100%;
}

.box.cat-title {}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxright.about-menu-img {
    display: none;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout ul li a {
    padding: 0;
    margin: 0;
}

#header .navbar li.dropdown .mega-wrap .tab-pane .boxout .box ul {
    position: relative;
    padding: inherit;
    left: 0;
    margin-bottom: 10px;
}

#header .navbar li.dropdown .mega-wrap .tab-pane .boxout .box ul li a {
    font-size: 14px;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .box h2 {}

#header.fixed-top .mega-wrap.mega-wrap .containers-out {
    box-shadow: none;
    padding: 0;
    max-width: 100%;
}

.navbar li.dropdown .mega-wrap .tab-pane .boxout .boxleft {
    padding: 0 0 0 10px;
}

#header.fixed-top .mega-wrap.mega-wrap .containers-out .container-fluid {
    padding: 0 10px 0 10px;
}

.serach-wrap .searchDiv .cls-button button {
    color: #fff;
    font-size: 40px;
}

.serach-wrap .searchDiv {
    width: 85%;
    padding: 10px 15px;
}

.serach-wrap .searchDiv .cls-button {
    position: absolute;
    left: -44px;
    top: -2px;
}

.serach-wrap .searchDiv .search-box input[type="text"] {
    font-size: 32px;
    margin-bottom: 20px;
}

.serach-wrap .searchDiv .search-btm h2 {
    margin-bottom: 20px;
}

.serach-wrap .searchDiv .search-btm .search-fl a {
    font-size: 20px;
    font-family: 'Helvetica';
}

.serach-wrap .searchDiv .search-btm .trending-search {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.serach-wrap .searchDiv .search-btm .search-fl .s-flex h2 {
    margin-bottom: 0;
}

.serach-wrap .searchDiv .search-btm .search-fl .s-flex {
    margin-bottom: 19px;
}
}

@media screen and (max-width:600px) { 
   .container-fluid {
       padding: 0 15px ;
   }
   section.business-unit-section .container-fluid {
       padding: 0 15px;
   }
   
   .top-head h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

section.about-section .about-item {
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px;
}

section.about-section .about-item .info {
    padding: 15px 20px 20px 20px;
}

section.about-section .about-item .info p {
    font-size: 16px;
}

section.about-section .content h3 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.blog-section.sectionbg .top-head {
    margin-bottom: 20px;
}

section.blog-section .box .info h2 {
    font-size: 20px;
}

#footer .footer-top .footer-links.social-link .newsletter-wrp {
    margin-bottom: 0;
}

body #footer .footer-top .footer-links .social-links a i.bx.bi-twitter-x {
    font-size: 15px;
    top: 0;
}

#footer .footer-newsletter .newsletter-wrap h5 {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
}

#footer p.btm-line {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size:13px;
}

.footer-bottom--2 .quick-links a {
    margin: 5px 10px;
    font-size: 13px;
}

#footer .footer-bottom--2 .copyright {
    padding: 0;
}

.footer-bottom--2 .quick-links {
    margin-bottom: 10px;
}

.inner-page {
    padding: 0;
}

section.top-section {
    padding-top: 0;
}

.inner-page .top-head h2 {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 5px;
}

.inner-page  .top-btmtext p {
    font-size: 15px;
}

.inner-page .top-btmtext p br {
    display: none;
}

.inner-page.request-quote section.btm-section.sectionbg1 .top-head {
    margin-bottom: 20px;
}

.inner-page.request-quote section.btm-section.sectionbg1 .form-control {
    padding: 7px 11px;
    font-size: 14px;
}

.top-btmtext.from .m-sapce {
    margin: 8px 0px 5px 0;
}

.inner-page.request-quote section.btm-section.sectionbg1 label {
    font-size: 14px;
}

.inner-page.request-quote section.btm-section.sectionbg1 textarea.form-control {
    height: 80px;
}

.inner-page.request-quote .top-btmtext.from button.btn {
    margin-top: 0;
    margin-bottom: 30px;
}

section.btm-section.faq-section .top-btmtext a {
    position: relative;
}

section.product-btm--01 .product-box .info {
    margin-top: 20px;
}

.product-list .top-btmtext {
    display: block;
}

.product-list .top-btmtext a {
    margin-left: 0;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 30px;
}

.product-list .btm-btmtext {
    display: block;
}

.product-list .btm-btmtext button {
    margin: 0;
}

.modelPopup .modal-content {
    max-width: 330px;
}
.modelPopup textarea.form-control {
    height: 80px;
}

section.product-btm--01 .left-side {
    width: 100%;
}
}